In [6]:
import os
import pandas as pd
from math import sqrt

import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
from matplotlib import pyplot
import matplotlib.dates as mdates

from datetime import datetime, timedelta

from warnings import catch_warnings
from warnings import filterwarnings

from sklearn.metrics import mean_squared_error
from statsmodels.tsa.api import VAR

In [3]:
#import dataset
df = pd.read_csv('df_bike_example.csv', index_col='Date')
df.index = pd.to_datetime(df.index, format = '%Y-%m-%d')
df

            Rented_Bikes  Temperature  Humidity_percent
Date
2017-12-01          9539    -2.454167         45.875000
2017-12-02          8523     1.325000         61.958333
2017-12-03          7222     4.875000         81.541667
2017-12-04          8729    -0.304167         52.500000
2017-12-05          8307    -4.458333         36.416667
...                  ...          ...               ...
2018-11-26         17162     6.320833         70.500000
2018-11-27         16282     7.066667         68.000000
2018-11-28         16524     5.304167         25.791667
2018-11-29         16423     3.304167         38.000000
2018-11-30         16297     2.762500         47.208333

[365 rows x 3 columns]

In [4]:
#train and test slice
pred_from = datetime(2018,10,1)
pred_until = datetime(2018,11,30)

df_train = df[:pred_from - timedelta(days=1)]
df_test = df[pred_from:]

In [1]:
model = VAR(df_train)
result = model.fit(4)

lagged_values = df_train.values[-8:]
pred = result.forecast(y=lagged_values, steps=pred_until-pred_from) 
pred

NameError: name 'VAR' is not defined

/Users/amitsasson/venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Rented_Bikes,Temperature,Humidity_percent,pred
Date,,,,
2018-09-27,30789,18.791667,47.125000,"[21980.986546525735, 18.258501054605084, 54.63..."
2018-09-28,0,17.525000,57.291667,"[21126.53049973299, 18.510517018347528, 57.503..."
2018-09-29,31447,20.075000,55.416667,"[19833.574947279936, 18.160325222726453, 58.13..."
2018-09-30,0,17.916667,53.791667,"[20499.63366857316, 18.025325844154988, 58.797..."
2018-10-01,27909,15.437500,54.250000,"[20548.593969798094, 18.134103111274076, 59.36..."
...,...,...,...,...
2018-11-26,17162,6.320833,70.500000,"[19686.032236901585, 17.869856565351657, 60.35..."
2018-11-27,16282,7.066667,68.000000,"[19683.00296163632, 17.86533906826663, 60.3544..."
2018-11-28,16524,5.304167,25.791667,"[19680.019048865248, 17.860889105406372, 60.35..."
2018-11-29,16423,3.304167,38.000000,"[19677.07980832135, 17.85650567177077, 60.3501..."
2018-11-30,16297,2.762500,47.208333,"[19674.18456243244, 17.852187776400342, 60.348..."